<html>
    
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Carrie Wang. It uses data from other places cuz imma fraud.</p>
        <img class="portrait" src="/img/FullSizeR1.jpg">

    </div>

    {{>footer}}
</body>

</html>